* {
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    flex-direction: column;

    height: 100vh;

}


header, main, footer {
    text-align: center;
}




header h1, main h2{
    margin-bottom: 70px;
}


.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header, main, .form {
    
    max-width: 500px;
    margin: 0 auto 70px;
}

.donors {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}

footer{
    margin-top: 100%;
}
